.animation {
  animation-name: bouncin;
  animation-duration: .7s;
  animation-timing-function:cubic-bezier(0.77, 0, 0.175, 1);
  animation-fill-mode: forwards;
}

@keyframes bouncin {

  0% {
    top: 100%;
  }

  10% {
    transform: translate(-50%, -50%);
    top: 30%;
  }

  30% {
    transform: translate(-50%, -50%);
    top: 50%;
  }

  50% {
    transform: translate(-50%, -50%);
    top: 35%;
  }

  70% {
    transform: translate(-50%, -50%);
    top: 50%;
  }

  90% {
    transform: translate(-50%, -50%);
    top: 40%;
  }

  100% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}